.autocomplete {
	position: absolute;
	z-index: 10;
    box-shadow: 2px 3px 12px 0px rgba(231, 231, 237, 1);
    background-color: $white;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #e8e8ec;
}

.autocomplete-list {
	a {
		color: $brand-secondary;

		&:hover {
			text-decoration: none;
		}
	}

	p {
		margin-bottom: 0;
	}

	.autocomplete-title {
		color: $text-color;
		font-weight: 600;
	}

	.list-group .list-group-item {
		border-width: 0;

		&:hover, &.active {
			background-color: #F5F8FF;
		}
	}
}