.autocomplete {
	background-color: $white;
	border: 1px solid $gray-300;
	border-radius: 4px;
	box-shadow: 2px 3px 12px 0 rgba(231, 231, 237, 1);
	margin-top: 8px;
	position: absolute;
	z-index: 10;
}

.autocomplete-list {
	a {
		color: $gray-600;

		&:hover {
			text-decoration: none;
		}
	}

	p {
		margin-bottom: 0;
	}

	.autocomplete-title {
		color: $text-color;
		font-weight: 600;
	}

	.list-group .list-group-item {
		border-width: 0;

		&:hover, &.active {
			background-color: #F5F8FF;
		}
	}
}