.footer {
	margin-top: $base-size * 1.5;
	min-height: $base-size * 5;
	padding: $base-size / 2 0 $base-size;

	@media (max-width: $screen-md) {
		text-align: center;
	}

	@media (min-width: $screen-md) {
		margin-top: $base-size * 4;
		padding: 47px 0;
	}
    
    .legal-info {
        color: #6B6C7E;
        font-size: $base-size / 2.3;
        margin-bottom: $base-size;
    }

	.text-right-lg {
		@media (min-width: $screen-md) {
			text-align: right;
		}
	}

	a {
		padding-bottom: 2px;
		border-bottom: 2px solid transparent;

		&.bold {
			color: $brand-dark;
			font-weight: bold;

			&:hover {
				border-color: $action-color;
				text-decoration: none;
			}
		}
	}

	span {
		line-height: $base-size;
	}

	.sticker {
		background-color: $brand-secondary;
		border-radius: 20px;
		color: #FFF;
		margin: $base-size / 2 $base-size / 4;

		.lexicon-icon {
			width: 14px;
		}

		@media (min-width: $screen-md) {
			margin: 0 0 0 $base-size / 3;
		}
	}

	.sticker:hover {
		background-color: $action-color;
	}

	.row img.logo {
		margin: $base-size / 2 $base-size / 3;
		max-height: $base-size;
		padding: 0;

		@media (min-width: $screen-md) {
			margin: 0 $base-size / 2 0 0;
		}
	}
}