.footer {
	background-color: $brand-darker;
	color: $brand-dark-text;
	font-size: 14px;
	margin-top: $base-size * 3;
	min-height: $base-size * 4;
	padding: $base-size / 2 0;

	@media (max-width: $screen-lg) {
		text-align: center;
	}

	@media (min-width: $screen-lg) {
		padding: 47px 0;
	}


	.text-right-lg {
		@media (min-width: $screen-lg) {
			text-align: right;
		}
	}

	a {
		color: $brand-dark-text;

		&.white {
			color: #FFF;
		}
	}

	span {
		line-height: $base-size;
	}

	.sticker {
		background-color: $brand-dark;
		margin: $base-size / 2 $base-size / 3;

		@media (min-width: $screen-lg) {
			margin: 0 0 0 $base-size / 1.33;
		}
	}

	.row img.logo {
		margin: $base-size / 2 $base-size / 3;
		max-height: $base-size;
		padding: 0;

		@media (min-width: $screen-lg) {
			margin: 0 $base-size / 2 0 0;
		}
	}
}
