.footer {
	background-color: $gray-800;
	color: $white;
	min-height: $base-size * 4;
	padding: $base-size 0;

	@media (min-width: $screen-md) {
		padding: 96px 0;
	}

	.footer-menu {
		list-style: none;
		padding: 0;
		li {
			padding-bottom: 0.5rem;
		}
	}

	a {
		color: $white;
		text-decoration: none;
		padding-bottom: 2px;
		&:hover {
			border-bottom: 2px solid $brand-primary;
		}
	}
	.license {
		color: $gray-500;
	}
}

.sidebar-offset footer {
	font-size: 14px;
	margin-top: 48px;

	.row {
		border-top: 1px solid $gray-400;
		padding: 16px 0 48px;

		.social-icons {
			margin: 0;
			text-align: right;

			li {
				height: 32px;
				width: 32px;

				img {
					width: 16px;
				}
			}
		}
	}
}