.docs header {
	background-color: $content-header-bg;
	min-height: $base-size * 3.25;
	padding: $base-size 0;
}

.about {
	padding: $base-size 0;
	font-size: 18px;
}

.about.about-inverted {
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFF;
}
