@function sqrt($r) {
	$x0: 1;
	$x1: $x0;

	@for $i from 1 through 10 {
		$x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);

		$x0: $x1;
	}

	@return $x1;
}

@function pow($x, $n) {
	$ret: 1;

	@if $n >= 0 {
		@for $i from 1 through $n {
			$ret: $ret * $x;
		}
	}
	@else {
		@for $i from $n to 0 {
			$ret: $ret / $x;
		}
	}

	@return $ret;
}

@function to-fixed($float, $digits: 2) {
	$pow: pow(10, $digits);

	@return round($float * $pow) / $pow;
}