@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";

@import "atlas";

@import "lexicon-site/variables";

@import "autocomplete";
@import "blog";
@import "code";
@import "footer";
@import "guide";
@import "navbar";
@import "sidebar";

@import "lexicon-site/content-lexicon-site";
@import "lexicon-site/navbar-lexicon-site";
@import "lexicon-site/sidebar-lexicon-site";
@import "lexicon-site/table-lexicon-site";

// Font

@import "font/source-sans-pro/source-sans-pro.css";

body {
	color: $brand-darker;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: $base-size / 2;

	@media (max-width: $grid-float-breakpoint - 1px) {
		margin-top: $base-size * 2;
	}
}