@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";

@import "lexicon-site/variables";

@import "atlas";

@import "mixins";

@import "animations";
@import "autocomplete";
@import "blog";
@import "code";
@import "footer";
@import "guide";
@import "navbar";
@import "sidebar";

@import "lexicon-site/content-lexicon-site";
@import "lexicon-site/sidebar-lexicon-site";
@import "lexicon-site/table-lexicon-site";
@import "lexicon-site/home-lexicon-site";

body {
	background-color: $bg-color;
	color: $text-color;
	font-size: 1rem;
}