{namespace HomeSearch}

/**
 */
{template .render}
	{@param? placeholder: ?}

	<input autocomplete="off" class="form-control" name="q" placeholder="{$placeholder ?: ''}" ref="input" type="text">
	<button class="btn btn-clear" type="reset">&times;</button>
{/template}