.content .sidebar-offset {
	p {
		line-height: $base-size * 1;
		margin-bottom: 20px;

		a {
			color: $brand-blue;
		}
	}

	img {
		margin-bottom: $base-size;
		margin-top: 12px;
		max-width: 100%;
	}

	table img {
		margin-bottom: 8px;
		margin-top: 4px;
	}

	ul {
		margin-bottom: $base-size * 1;

		li {
			line-height: $base-size * 1;
		}
	}

	h1 {
		font-size: 28px;
		line-height: $base-size * 2;

		@media (min-width: $grid-float-breakpoint) {
			font-size: 36px;
            padding-top: 24px;
		}
	}

	h2 {
		font-size: $base-size;
		letter-spacing: 0.5px;
		line-height: $base-size;
		text-transform: uppercase;
        color: $brand-secondary;
        padding-bottom: 24px;
	}

	h3 {
		font-size: $base-size;
		line-height: $base-size;
	}

	h1, h2, h3 {
		font-weight: bold;
		margin: $base-size 0;

		@media (min-width: $grid-float-breakpoint) {
			margin-bottom: $base-size;
			margin-top: $base-size * 3;
		}
	}

	h4 {
		font-size: $base-size * 0.65;
		font-weight: 700;
		line-height: $base-size * 0.75;
		padding: 24px 0;
        text-transform: uppercase;
        letter-spacing: 0.5px;
	}

	time {
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		margin-top: 40px;
		text-transform: uppercase;
		display: inline-block;

		& + h3 {
			margin-top: 0px;
		}
	}

	header {
		margin: 0;

		.container-fluid > h1 {
			margin: 0;
		}
	}
}

.News {
	.content .sidebar-offset h3 {
		margin-top: 0;
	}

	h5 {
		color: $text-color;
		margin-top: 48px;
	}
}

@media (max-width: $grid-float-breakpoint - 1) {
    margin-top: 80px;
}