.content .sidebar-content {
	p {
		line-height: $base-size * 0.75;
		margin-bottom: 20px;

		a {
			color: $brand-blue;
		}
	}

	img {
		margin-bottom: $base-size * 0.75;
		margin-top: 12px;
		max-width: 100%;
	}

	table img {
		margin-bottom: 8px;
		margin-top: 4px;
	}

	ul {
		margin-bottom: $base-size * 0.75;

		li {
			line-height: $base-size * 0.75;
		}
	}

	h1 {
		font-size: 28px;
		line-height: $base-size * 2;

		@media (min-width: $grid-float-breakpoint) {
			font-size: 32px;
		}
	}

	h2 {
		color: $brand-secondary;
		font-size: 22px;
		letter-spacing: 0.5px;
		line-height: $base-size;
		text-transform: uppercase;
	}

	h3 {
		font-size: 22px;
		line-height: $base-size;
	}

	h1, h2, h3 {
		font-weight: bold;
		margin: $base-size 0;

		@media (min-width: $grid-float-breakpoint) {
			margin-bottom: $base-size * 0.75;
			margin-top: $base-size * 1.5;
		}
	}

	h4 {
		font-size: $base-size / 2;
		font-weight: bold;
		line-height: $base-size * 0.75;
		margin-bottom: 12px;
		margin-top: 0;
	}

	time {
		color: $brand-secondary;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 20px;
		margin-bottom: 8px;
		text-transform: uppercase;

		& + h3 {
			margin-top: 4px;
		}
	}

	header {
		margin: 0;

		.container-fluid > h1 {
			margin: 0;
		}
	}

	.intro {
		padding: 56px 0;
		margin-bottom: 120px;
		text-align: center;

		h1 {
			font-size: 210px;
			color: #fff;
			font-weight: 700;
			margin-bottom: 100px;

			span {
				color: $action-color;
			}
		}

		h3 {
			width: 400px;
			margin-bottom: 48px;
			font-weight: 600;
			letter-spacing: 7px;
			font-size: 21px;
		}

		p {
			font-size: 32px;
			color: $brand-secondary;
			max-width: 600px;
			margin: 0 auto 56px auto;
		}
	}
}

.News {
	.content .sidebar-content h3 {
		margin-top: 0;
	}

	h5 {
		color: $brand-dark;
		margin-top: 48px;
	}
}