
.vertical-title {
	color: $gray-400;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1.5px;
	margin-top: 250px;
	text-transform: uppercase;
	transform: rotate(-90deg);
}

.mobile-size {
	@include media-breakpoint-down(sm) {
		width: 98px;
	}
}

.home {
	.btn-version {
		.btn {
			background-color: rgba(255, 255, 255, 0.3);
			border-color: transparent;
			color: $white;
			font-size: 12px;
			height: 24px;
			padding: 1px 6px 0 8px;
			text-transform: none;

			.lexicon-icon-caret-bottom {
				margin-top: 0.03rem;
			}
		}

		.dropdown-menu {
			min-width: 140px;
		}
	}

	.font-weight-bold {
		font-weight: 800 !important;
	}

	.card {
		border-radius: 12px;
		box-shadow: 4px 6px 36px rgba(48, 49, 63, 0.15);
		margin-bottom: 24px;
		min-height: 100%;
		transition: all 0.2s;

		&:hover {
			background-color: #F2F6FF;
			border-color: $brand-primary;
			box-shadow: 6px 9px 36px rgba(48, 49, 63, 0.2);
			text-decoration: none;
			transform: translateY(-4px);
		}

		&:hover .learn-more {
			color: $brand-primary;
		}

		.card-body {
			padding: 3rem 2rem 2rem;
			@include media-breakpoint-up(sm) {
			padding: 3rem;
		}
		}

		h2 {
			color: $gray-800;
			font-size: 22px;
			margin-bottom: 1.25rem;
			letter-spacing: 0.4px;
		}

		.learn-more {
			color: lighten($gray-500, 15%);
			display: inline-flex;
			font-size: 15px;
			font-weight: $font-weight-bold;
		}

		p {
			color: $gray-500;
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 2.25rem;
		}

		img.mx-auto {
			margin: 1rem 0 2.5rem;
			width: 100px;
		}
	}
}

.intro {
	background-color: $brand-primary;
	background-image: url(/images/home/patternbg.svg);
	background-size: auto;
	color: $white;
	margin-bottom: 32px;
	padding: 88px 0;

	@include media-breakpoint-up(sm) {
		background-attachment: fixed;
		background-position: center -144px;
		padding: 172px 0 216px;
	}

	.btn-lg {
		border-radius: 4px;
		border-width: 2px;
		font-size: 1rem;
		min-height: 64px;
		padding: 20px 64px;
	}

	.btn-light {
		background-color: $white;
		border-color: $white;
		box-shadow: 2px 3px 20px rgba(30, 31, 39, 0.3);
		color: $brand-primary;
		font-size: 16px;
		line-height: $base-size;

		&:hover {
			background-color: #F2F6FF;

		}
	}

	.h1 {
		font-size: 56px;
		font-weight: 800;
		margin: 56px 0 24px;
		letter-spacing: 0.4px;
		line-height: 1;
		word-break: normal;

		@include media-breakpoint-up(sm) {
			font-size: 100px;
		}

		@include media-breakpoint-up(lg) {
			margin-bottom: 48px;
		}
	}

	.h3 {
		color: rgba(255, 255, 255, 0.5);
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.4px;
		line-height: 1.7;
		margin-bottom: 48px;

		@include media-breakpoint-up(sm) {
			font-size: 28px;
			margin-bottom: 72px;
		}
	}
}

.teasers {
	background-color: $white;
	margin-top: -72px;

	@include media-breakpoint-up(sm) {
		margin-top: -88px;
   }
}

.contact-us {
	background-attachment: fixed;
	background-color: $white;
	background-image: url(/images/home/bg_white.svg);
	background-position: center;
	padding: 80px 0;

	@include media-breakpoint-up(sm) {
		background-size: 140%;
		margin-top: -60px;
		padding: 240px 0 180px;
	}
		img {
			width: 98px;
			@include media-breakpoint-up(sm) {
				width: 200px;
			}
		}

	.media-body {
		h1 {
			line-height: 1.4;
			font-weight: 800;
			font-size: 22px;
			color: $gray-800;
			@include media-breakpoint-up(sm) {
				font-size: 28px;
			}
		}

		a {
			border-bottom: 4px solid $brand-primary;
			color: $gray-800;
			padding-bottom: 4px;
			transition: all 0.4s;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.link-blocks {
	padding: 4rem 0;
	background-color: $gray-700;

	@include media-breakpoint-up(sm) {
		padding: 7rem 0;
	}
	.card {
		background-color: $gray-800;
		box-shadow: 4px 6px 36px rgba(48, 49, 63, 0.7);
		padding: 32px;
		text-align: center;
		@include media-breakpoint-up(sm) {
			padding: 48px;
		}
		.clay-logo {
			color: $white;
			font-size: 32px;
			font-weight: 800;
			margin-bottom: 1.5rem;
			margin-top: 1rem;
			img {
				width: 40px;
			}
		}

		h2 {
			color: $white;
			font-size: 26px;
			font-weight: 400;
			line-height: 1.25;
			margin-bottom: 1.5rem;
		}

		p {
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 2.5rem;
		}
		.learn-more {
			color: darken($gray-600, 10%);
			font-size: 16px;
		}
		&:hover {
			background-color: darken($gray-800, 2%);
			box-shadow: 4px 6px 36px rgba(48, 49, 63, 0.8);
		}
		&:hover .learn-more {
			color: #B3472D;
		}
	}
}

.social-icons {
	margin: 48px 0;
	list-style: none;
	padding: 0;
	text-align: center;

	li {
		align-items: center;
		background-color: lighten($gray-400, 5%);
		border-radius: 100%;
		display: inline-flex;
		height: 40px;
		justify-content: center;
		margin: 0 4px;
		transition: 0.2s;
		width: 40px;

		@media (min-width: 540px) {
			margin-bottom: 12px;
		}

		&:hover {
			background-color: $gray-500;
		}
	}

	img {
		width: 20px;
	}
}