.navbar-lexicon-site {
	background-color: $brand-dark;
	border-color: $brand-dark;
	padding: 8px 0;

	@media (min-width: $grid-float-breakpoint) {
		padding: 32px 0 24px 12px;
	}

	.logo {
		display: inline-block;
		margin-right: 16px;
		padding-bottom: 3px;
		width: 121px;
	}

	.label-version {
		background-color: #393A4A;
		border-radius: 50px;
		color: #FFF;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.5px;
		padding: 6px 12px;
	}

	.navbar-toggle {
		border-width: 0;
		height: $base-size * 1.5;

		@media (max-width: $grid-float-breakpoint - 1px) {
			.icon-bar {
				@include transform-origin(0);
				@include transition(all 0.3s $ease-in-out-back);
			}

			&.toggler-header-expanded {
				.icon-bar:nth-of-type(1) {
					@include transform(rotate(45deg) translate(0) scale(1.1));
				}

				.icon-bar:nth-of-type(2) {
					@include transform(rotate(-115deg) scale(0.1));

					opacity: 0;
				}

				.icon-bar:nth-of-type(3) {
					@include transform(rotate(-45deg) translate(0) scale(1.1));
				}
			}
		}
	}
}