.sidebar-lexicon-site {
	background-color: $gray-100;

	@media (min-width: $grid-float-breakpoint) {
		min-width: 370px;
	}

	.navbar-brand {
		display: flex;
		align-items: center;
		font-size: $base-size;
		font-weight: 800;

		small {
			font-size: 0.875rem;
		}
	}

	.btn-version {
		.btn {
			background-color: $white;
			font-size: 12px;
			height: 24px;
			padding: 0 6px 0 9px;
			text-transform: none;

			&:active {
				color: #000;
			}

			.lexicon-icon-caret-bottom {
				margin-top: 0.03rem;
			}
		}

		.dropdown-menu {
			min-width: 140px;
		}
	}

	.logo {
		height: 38px;
	}

	a, .nav .lexicon-icon {
		color: $text-color;
	}

	.sidebar-header {
		padding: 0;

		@media (min-width: $grid-float-breakpoint) {
			padding: $base-size * 1.33 $base-size $base-size * 2.4 $base-size * 0.33;
		}

		@media (max-width: $grid-float-breakpoint - 1) {
			display: none;
		}
	}

	.sidebar-body {
		overflow: visible;
		padding-bottom: $base-size * 2;
		padding-top: $base-size;

		@media (max-width: $screen-xs) {
			padding-left: 12px;
			padding-right: 12px;
		}
	}

	.nav-icons {
		padding: 0 $base-size $base-size * 4 $base-size * 1.66;

		.sticker-secondary {
			background-color: $gray-400;
		}

		.lexicon-icon {
			fill: $white;
			width: 1.3em;
		}
	}

	.input-group {
		width: 100%;

		.input-group-addon {
			background-color: transparent;
			border-color: transparent;
			color: $text-color;
			position: absolute;
			right: 16px;
			top: 9px;
			z-index: 9;
		}

		> input.form-control {
			background-color: $white;
			border-color: $white;
			border-radius: 4px;
			color: $text-color;
			padding-left: 0.875rem;
			padding-right: $base-size * 1.5;
			font-size: 1rem;

			&::-moz-placeholder {
				color: $gray-500;
				opacity: 1;
			}

			&:-ms-input-placeholder {
				color: $gray-500;
			}

			&::-webkit-input-placeholder {
				color: $gray-500;
			}

			&:active, &:focus {
				box-shadow: 2px 3px 12px 0 #E7E7ED;

				&::-moz-placeholder {
					color: transparent;
				}

				&:-ms-input-placeholder {
					color: transparent;
				}

				&::-webkit-input-placeholder {
					color: transparent;
				}
			}
		}
	}

	.nav-nested {
		margin-top: 2px;

		& > li:not(.active) > ul {
			display: none;
		}
	}

	.nav-pills {
		.nav-heading {
			display: block;
		}

		& > li > {
			ul > li {
				padding-left: $base-size;
			}

			a {
				background-color: transparent;
				display: block;
				font-size: 0.875rem;
				font-weight: 700;
				line-height: 20px;
				padding: 0.59375rem 1rem;
				position: relative;

				span {
					display: inline-block;
					vertical-align: middle;
				}

				.lexicon-icon {
					display: inline-block;
					fill: currentColor;
					height: 16px;
					transform: translateZ(0);
					vertical-align: middle;
					width: 16px;
				}
			}

			& ul > li > ul > li > a, .nav .nav > li > a {
				padding-left: $base-size / 2;
			}

			.icon-monospaced.lexicon-icon {
				float: left;
				height: 40px;
				padding: 2px;
			}
		}

		& > li.active > a,
		& > li > ul > li.active > a,
		& > li > ul > li.active > a:focus,
		& > li > a:focus {
			background-color: #EFEFF4;
			border-radius: 6px;
			font-weight: 700;
		}

		& > li a:hover {
			background-color: #EFEFF4;
		}

		& li > ul > li > a {
			color: $text-color;
			font-weight: normal;
		}

		& > li.nav-heading > a, & > li > ul > li.nav-heading > a {
			&, &:focus {
				background-color: transparent;
			}

			&:hover {
				background-color: #EFEFF4;
			}
		}

		& li {
			> a > .collapse-toggle {
				display: inline-block;
				height: 40px;
				margin: 0;
				min-height: auto;
				padding: 12px;
				position: absolute;
				right: 0;
				top: 0;
				transform: rotate(-90deg);
				transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				width: 40px;
			}

			&.active > a > .collapse-toggle {
				transform: rotate(0);
			}
		}
	}
}

.sidebar-toggler {
	display: none;

	@media (max-width: $screen-sm - 1) {
		display: block;
	}
}

.legal {
	color: $gray-600;
}