.sidebar-lexicon-site {
	background-color: $brand-dark;
	border-right: 0.5rem solid transparent;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 8px;
	}

	&::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 4px;
		color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(255, 255, 255, 0.25);
		box-shadow: inset 0 -2px, inset 0 -3px, inset 0 2px, inset 0 3px;
		color: $brand-dark;
	}

	.sidebar-toggler-content:hover & {
		&::-webkit-scrollbar-thumb {
			background: rgba(255, 255, 255, .7);
		}
	}

	a, .nav .lexicon-icon {
		color: $brand-secondary;
	}

	.sidebar-header {
		padding: $base-size * 0.75  $base-size * 0.75 12px;

		@media (max-width: $grid-float-breakpoint - 1px) {
			padding: 16px;
		}
	}

	.sidebar-body {
		padding-top: 0;

		@media (max-width: $grid-float-breakpoint - 1px) {
			padding: 0 16px 16px;
		}
	}

	.input-group {
		width: 100%;

		.input-group-addon {
			@include position(absolute, 4px 16px null null);

			background-color: transparent;
			border-color: transparent;
			color: $brand-secondary;
			z-index: 9;
		}

		> input.form-control {
			background-color: $brand-darker;
			border-radius: 4px;
			color: $brand-dark;
			padding-right: $base-size * 1.5;

			@include placeholder($brand-secondary);

			&:active, &:focus {
				@include placeholder($brand-secondary);

				background-color: #FFF;
				color: $brand-dark;
			}
		}
	}

	.nav-nested {
		margin-top: 2px;

		& > li:not(.active) > ul {
			display: none;
		}
	}

	.nav-pills {
		& > li > {
			a {
				background-color: transparent;
				color: #FFF;
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
				min-height: $base-size * 1.25;
				padding-left: $base-size / 2 + $base-size * 1.5;
			}

			& ul > li > ul > li > a, .nav .nav > li > a {
				margin-left: $base-size * 2;
				padding-left: $base-size / 2;
			}

			.icon-monospaced.lexicon-icon {
				float: left;
				height: 40px;
				padding: 2px;
			}

			a {
				&.lexicon-site-about, &.lexicon-site-docs, &.lexicon-site-news {
					@include psuedo();
				}

				&.lexicon-site-about:before {
					@include square(25px, #6B6C7E);
				}

				&.lexicon-site-docs:before {
					@include triangle(25px, #FFF);
				}

				&.lexicon-site-news:before {
					@include circle(25px, #FF6060);
				}
			}
		}

		& > li > ul > li.active > a, & > li > ul > li.active > a:hover, & > li > ul > li.active > a:focus {
			background-color: $brand-dark-active;
			color: #FFF;
			font-weight: normal;
		}

		& > li > a:hover, & > li > ul > li:hover > a, & > li > a:focus {
			background-color: $brand-dark-hover;
		}

		& li > ul > li > a {
			color: $brand-secondary;
			font-weight: normal;
		}

		& > li.nav-heading > a, & > li > ul > li.nav-heading > a {
			&, &:focus {
				background-color: transparent;
			}

			&:hover {
				background-color: $brand-dark-hover;
			}
		}

		& li {
			> a > .collapse-toggle {
				display: inline-block;
				height: 40px;
				margin: 0;
				min-height: auto;
				padding: 12px;
				position: absolute;
				right: 0;
				top: 0;
				width: 40px;

				@include transform(rotate(-90deg));
				@include transition(all 0.2s $ease-in-out-back);
			}

			&.active > a > .collapse-toggle {
				@include transform(rotate(0));
			}
		}
	}
}