table {
	@extend .table;

	font-size: 0.875rem;
	margin: 32px 0 24px;

	& > tbody > tr > td, & > thead > tr > th {
		border-bottom: 1px solid $gray-400;
		line-height: $base-size * 0, 75;
		padding: $base-size / 2;
		.lexicon-icon {
			min-width: 1rem;
		}
	}

	thead > tr > th {
		border-top-width: 0;
		border-bottom-width: 1px;
		color: $text-color;
		font-weight: 700;
		vertical-align: bottom;
		background-color: #F7F8FA;
	}

	td > p {
		display: inline;

		&.dotDone {
			color: #5ACA75;
		}

		&.dotProgress {
			color: #FF8F39;
		}

		&.dotWait {
			color: $gray-500;
		}

		&.tableSection {
			color: $gray-600;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}