table {
	@extend .table;

	margin: 36px 0 48px;

	& > tbody > tr > td, & > thead > tr > th {
		border-bottom: 1px solid $brand-border-color;
		line-height: $base-size * 0, 75;
		padding: $base-size / 2;
	}

	thead > tr > th {
		border-top: none;
		color: $brand-secondary;
		font-size: 12;
		font-weight: 600;
		text-transform: uppercase;
		vertical-align: bottom;
        background-color: $sidebar-bg-color;
	}
}