$output-bourbon-deprecation-warnings: false;

$screen-sm: 900px;

$content-max-width: 960px;

$sidebar-width: 376px;

$brand-dark: #272833;
$brand-dark-active: #2E2F3C;
$brand-dark-hover: #2B2D39;
$brand-darker: #1E1F27;
$brand-secondary: #8D8FA8;

$brand-blue: #4887FF;

$brand-border-color: #CDCED9;
$content-header-bg: #F7F8FA;

$base-size: 32px;