$output-bourbon-deprecation-warnings: false;

$base-size: 24px; // 1.5rem aprox

$screen-md: 900px;
$screen-sm: 900px;
$screen-xs: 768px;

$grid-float-breakpoint: $screen-sm;

$content-max-width: 960px;

$sidebar-width: 376px;

// Colors

$white:    #FFF;
$gray-100: #F5F5F8;
$gray-200: #F1F2F5;
$gray-300: #E7E7ED;
$gray-400: #CDCED9;
$gray-500: #A7A9BC;
$gray-600: #6B6C7E;
$gray-700: #393A4A;
$gray-800: #30313F;
$gray-900: #272833;

$blue: #0B5FFF;
$cyan: #2E5AAC; /* info */
$green: #287D3C; /* success */
$red: #DA1414; /* danger */
$orange: #b95000; /* warning */

$brand-primary: $blue;

$bg-color: $white;
$sidebar-bg-color: $gray-100;

$text-color: $gray-700;
$text-color-light: $gray-600;

// Sizes

$margin-top-body: $base-size * 4;

// Weights

$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;