$output-bourbon-deprecation-warnings: false;

$base-size: 24px; // 1.5rem aprox

$screen-md: 900px;
$screen-sm: 900px;
$screen-xs: 768px;

$grid-float-breakpoint: $screen-sm;

$content-max-width: 960px;

$sidebar-bg-color: #F5F5F8;
$sidebar-width: 376px;

// Color

$bg-color: #FFF;
$footer-bg-color: #272833;

$brand-primary: #0058FF !default;

$brand-dark: #0058FF;
$brand-dark-lighter: #EFEFF4;

$brand-light: #FFF;

$brand-light-secondary-text: #A7A9BC;
$brand-light-text: $brand-light;

$brand-lighten: #FBF8F5;

$text-color: #30313F !default;
$text-color-light: #393A4A !default;

$brand-secondary: #6B6C7E;

$brand-blue: #4887FF;

$brand-border-color: #CDCED9;
$brand-border-color-light: #E8E8EC;

// Sizes

$margin-top-body: $base-size * 4;