---
title: "Pattern library"
url: "/docs/patterns/alerts.html"
icon: "lexicon-site-docs"
weight: 3
---

{namespace pagePatternLibrary}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
